<template>
  <v-container class="d-flex align-center justify-center">
    <v-card max-width="500px">
      <v-card-title primary-title>
       <v-icon color="error" class="mr-2">mdi-alert-circle</v-icon> Error
      </v-card-title>
      <v-card-text>
       <p>Sorry, an error occured. Please, try again later.</p> 
      </v-card-text>
    </v-card>
    <div class="errorWrap">
      <v-img src="../assets/error.png" max-height="150px" max-width="150px"></v-img>
    </div>
  </v-container>
</template>
<script>
export default {};
</script>
<style lang="scss" scoped>
.container {
  max-width: 100%;
  .errorWrap {
    display: none;
    height: 70vh;
    width: 70%;
    margin: auto;
    //display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    p {
      font-size: 30px;
      color: black;
      z-index: 3;
      margin-top: 5%;
    }
  }
}
</style>