<template>
  <v-container class="d-flex flex-wrap">
    <v-card
      v-for="launch in launches"
      v-bind:key="launch.flight_number"
      class="mx-auto ma-2"
      max-width="400"
      :color="getLaunchStatus(launch).color"
    >
      <v-img class="black--text" height="200px" src="../assets/spaceX_logo.png">
        <v-card-title class="align-self-start">Flight number:</v-card-title>
        <v-card-title class="align-self-end justify-end display-2">{{launch.flight_number}}</v-card-title>
      </v-img>

      <v-card-text class="text--primary">
        <p class="font">{{getLaunchStatus(launch).text}}</p>
        <div>Launch date: {{launch.launch_date_utc.slice(0,10)}}</div>
        <div>The rocket name: {{launch.rocket.rocket_name}}</div>
        <div></div>
      </v-card-text>

      <v-card-actions>
        <v-btn color="white" text @click.stop="$emit('moreinfo', launch), dialog=true">More...</v-btn>
      </v-card-actions>
    </v-card>
     <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card v-if="displayedLaunch">
        <v-card-title class="headline">More details</v-card-title>
        <v-divider></v-divider>
        <v-card-text>Rocket name: {{displayedLaunch.rocket.rocket_name}}</v-card-text>
        <v-card-text>Rocket ID: {{displayedLaunch.rocket.rocket_id}} </v-card-text>
        <v-card-text>Weight: {{displayedLaunch.rocket.second_stage.payloads[0].payload_mass_kg ? displayedLaunch.rocket.second_stage.payloads[0].payload_mass_kg + 'kg' : 'not available'}}</v-card-text>
        <v-card-text>{{getDetails(displayedLaunch)}}</v-card-text>
        <v-card-text>Name of the site: {{displayedLaunch.launch_site.site_name}}</v-card-text>
        <v-img :src="getPatch(displayedLaunch)" max-height="150px" max-width="150px" contain class="mx-auto"></v-img>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  name: "mainDisplay",
  props: ["launches", "displayedLaunch"],
  data: () => ({
    dialog: false,
  }),
  methods: {
    getLaunchStatus(launch) {
      let successStatus = launch.launch_success;
      let isTentative = launch.is_tentative;
      if (isTentative) {
        return {
          text: "The rocket has not launched yet",
          color: "blue-grey lighten-3"
        };
      } else if (!successStatus && !isTentative) {
        return {
          text: "The launch was failed",
          color: "error"
        };
      } else if (successStatus) {
        return {
          text: "The launch was successful",
          color: "success"
        };
      }
    },
    getPatch(elem) {
      return elem && elem.links.mission_patch  ? elem.links.mission_patch : "https://lh3.googleusercontent.com/proxy/zkwd6Ve5D6Q382f3Au8qcArqLRfhoOiW97bDL9u6zikUUPCdrhRbC8VKWJObOtTgio1hjP9tbXOaK1lWnL_YT4SWsQqJbmFhjkyyy2mWmAkFe0N8Op2N3HN5WUmkEw"; 
    },
    getDetails(elem) {
      if(!elem.details && elem.is_tentative) {
        return 'Details will be available after the rocket launches.'
      } else if(elem.details) {
        return elem.details;
      } else return 'Sorry, no details available :(';
    }
    }
  }
;
</script>
<style lang="scss">
.font {
  font-weight: 800;
}
</style>