<template>
  <v-app>
    <v-app-bar app color="primary" dark height="100px">
      <v-select
        class="mt-2 launchSelector mx-auto"
        outlined
        :items="items"
        v-model="value"
        label="Filter"
        @change="getLaunches()"
      ></v-select>
    </v-app-bar>

    <v-content>
      <mainDisplay
        v-if="!error"
        :launches="launches"
        @moreinfo="updateLaunch"
        :displayedLaunch="launch"
      />
      <errorHandler
        v-else
      />
    </v-content>
  </v-app>
</template>

<script>
import mainDisplay from './components/mainDisplay';
import errorHandler from './components/errorHandler';

export default {
  name: 'App',

  components: {
    mainDisplay,
    errorHandler,
  },

  data: () => ({
    apiURL: 'https://api.spacexdata.com/v3/launches',
    items: [
      {text: "Show all launches", value: ''},
      {text: "Show latest ten launches", value: '?sort=launch_date_utc&order=desc&limit=10'},
      {text: "Show only succesful launches", value: '?launch_success=true'},
      {text: "Show only failure launches", value: '?launch_success=false'}
    ],
    value: '',
    launches: [],
    launch: null,
    error: false,

  }),
  methods: {
    getLaunches() {
      fetch(this.apiURL + this.value).then(resp => {
        if(!resp.ok) {
          this.error=true;
        } else {
          return resp.json();
          }
      }).then(json => {
        this.launches=json;
      })
    },
    updateLaunch(launch) {
      this.launch = launch;
    }
  },
  mounted(){
    this.getLaunches();
  } 
};
</script>
<style lang="scss">
.launchSelector {
  max-width: 350px !important;
}
</style>